.welcome {
    color: pink;
    font-size: bold;
}

.nav-link {
    
    font: arial;
    font-size: x-large;
    font-weight: 400;
    color: pink;
  
}


.h3 {
    text-align: center;
    font-size: bold;
    
}

.aboutme h1 {
    text-align: center;
}

.family{
    padding-bottom: 4%;
}